.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-container {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 5%;
}

#submit {
  border-radius: 10%;
}

.title {
  font-weight: bold;
}

.cart-items {
  min-height: 50vh;
}